<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Update employee</title>
</head>
<body>
<form action="#" th:action="@{/employee-update}" th:object="${employee}" method="post">
    <p>ID: <input type="text" th:field="*{employeeId}" readonly="true" /></p>
    <p>name: <input type="text" th:field="*{name}"/></p>
    <p>surname: <input type="text" th:field="*{surname}"/></p>
    <p>department: <input type="text" th:field="*{department}"/></p>
    <p>salary: <input type="text" th:field="*{salary}"/></p>
    <br/>
    <input type="submit" value="Update" id="my-update-button">
</form>
</body>
</html>